/* reset 初始化样式区*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 "Microsoft YaHei",arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#f8f8f8;}
a,a:hover{color:#333;}


/* function 通用功能样式区*/
.f-center-lay{width: 1206px;margin:0 auto;}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}



/* 头部 */
/* 头部消息通知模块 */
.m-tips{
	height:36px;
	line-height:36px;
	background-color: #f3f3f3;
	display:none;	
}
.m-tips .tips-contant a{
	color:#21a557;
}
.m-tips .tips-close i{
	margin: 14px 5px 0 0;
	width: 9px;
	height: 9px;
	background:url(../images/ui_sprite.png) no-repeat 0 -25px;
}
/* 头部导航模块 */
.m-topnva{
	height:89px;
	background-color:#fff;
}
.m-topnva .m-logo{
	width: 388px;
}
.m-topnva .title{
	margin-top: 30px;
	width: 234px;
	height:22px;
	background: url(../images/ui_sprite.png) no-repeat 0 0;
}
.m-topnva .attention{
	margin:31px 0 0 36px;
	width: 54px;
	height: 21px;
	line-height:21px;
	text-align:center;
	border-radius: 2px;
	color:#fff;
	background-color:#21a557;
}

.m-topnva .attention i{/* 关注 */
	margin:7px 0 0 9px;
	width: 8px;
	height: 8px;
	background:url(../images/ui_sprite.png) no-repeat -15px -25px;
}

.m-topnva .fans{/* 粉丝 */
	margin:31px 0 0 9px;
	height: 21px;
	line-height:21px;
	color:#666;
}

/* 头部右侧导航 */
.m-topnva .s-rnav{ 
	height:16px;
	margin-top:42px;
}
.m-topnva .s-rnav a{
	margin-left: 24px;
	color:#666;
	font-size:16px;
}
.m-topnva .s-rnav .search{
	margin:0 14px 0 30px;
	width: 19px;
	height: 19px;
	background:url(../images/ui_sprite.png) no-repeat 0 -35px;
}



/* 轮播图 */
.m-slide{
	position:relative;
	margin:0 auto;
	width:1652px;
}
.m-slide .u-slidepg{
	position:absolute;
	top: 430px;
	width:100%;
	text-align:center;
}

.m-slide .u-slidepg li{
	margin:0 6px;
	width: 10px;
	height: 10px;
	border-radius:50%;
	background-color:#fff;
}
.m-slide .u-slidepg .select{
	background-color:#333;
}

/* 产品展示模块 */
.m-3pro{
	height:298px;
	background-color:#fff;
}
.m-3pro li{
	position: relative;
	margin-top:60px;
	width: 295px;
	padding-left: 105px;
}
.m-3pro li i{
	position:absolute;
	left:0;
	top:7px;
	width: 80px;
	height: 80px;

}
.m-3pro .u-openclass i{
	background: url(../images/ui_sprite.png) no-repeat -22px -25px;
}
.m-3pro .u-yunclass i{
	background: url(../images/ui_sprite.png) no-repeat -106px -25px;
}
.m-3pro .u-mooc i{
	background: url(../images/ui_sprite.png) no-repeat -190px -25px;
}
.m-3pro li h2{
	font-size:20px;
	font-weight:normal;
}
.m-3pro li p{
	margin-top:15px;
	padding-right: 45px;
	line-height:24px;
	font-size:14px;
	color:#666;
}
.m-3pro li a{
	display:block;
	margin-top:24px;
	font-size:14px;
	color:#39a030;
}

/* 工作环境模块 */
.m-workenv{
	margin:0 auto;
	width: 1616px;
	height: 220px;
	background: url(../images/workenv.jpg)
}

/* 课程区域 */
.g-course{
	margin-top: 84px;
	/* overflow: hidden; */
}

/* 课程选项卡模块 */
.m-course{
	margin-top: -3px;
	width: 980px;
}

/* 选项卡 */
.m-course .u-tabs{
	box-shadow: 0 1px 2px #999;
	width: 800px;
	height: 50px;

}
.m-course .u-tabs li{
	float: left;
	width: 400px;
	height: 50px;
	line-height: 50px;
	font-size:20px;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
}
.m-course .u-tabs .select{
	color:#fff;
	background-color:#39a030;
}

/* 课程 */
.m-course .u-course{
	margin-top: 30px;
}

.m-course .u-course li{
	float:left;
	margin:0 20px 20px 0;
	width: 225px;
	height: 228px;
	box-shadow:0 1px 2px #999;
}
.m-course .u-course img{
	width: 223px;
	height: 124px;
	border: 1px solid #fff;
}
.m-course .u-course h3{
	margin:5px 5px 0 5px;
	line-height: 17px;
	font-weight:normal;
	color:#333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.m-course .u-course span{
	display:block;
	margin: 7px 0 0 5px;
	color:#999;	
}
.m-course .u-course i{
	margin: 9px 0 0 5px;
	display: block;
	width: 40px;
	height: 18px;
	line-height:18px;
	text-indent:16px;
	color:#999;
	background:url(../images/ui_sprite.png) no-repeat 0 -107px;
}
.m-course .u-course em{
	margin: 9px 0 0 5px;
	display:block;
	color:#ff3f00;
}
/* 翻页 */
.m-course .u-page{
	margin:10px 20px 0 0;
}
.m-course .u-page div{
	margin:0 5px;
	width: 30px;
	height: 20px;
	float: left;
	line-height: 20px;
	text-align: center;
	color:#fff;
	font-weight: bold;
	font-family:\5b8b\4f53;
	background-color:#9dd8b1;
}
.m-course .page li{
	margin:0 4px;
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color:#666;
	font-size: 14px;
	cursor: pointer;
}
.m-course .page .select{
	color: #9dd8b1;
	/* color:#fff;
	background-color:#9dd8b1; */
}


/* 课程区域右侧模块 */
.m-rside{
	width:226px;
}

/* 机构介绍 */
.m-introduce{
	width: 223px;
	height: 229px;
	box-shadow: 0 1px 1px #ddd;
	background-color:#fff;
}
.m-introduce h3{
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	font-weight: normal;
}
.m-introduce span{
	padding: 20px 0 9px 22px;
	display: block;
	font-size: 14px;

}
.m-introduce video{
	margin-left:22px;
}

/* 最热排行模块 */
.m-hotlist{
	margin-top:21px;
	width:223px;
	box-shadow: 0 1px 1px #ddd;
	background-color:#fff;
}
.m-hotlist h3{
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
	height: 56px;
	line-height: 56px;
	font-weight:normal;
	font-size: 16px;
}
.m-hotlist .u-hotlist{
	padding-left: 20px;
}
.m-hotlist .u-hotlist li{
	height: 70px;
}
.m-hotlist li img{
	float: left;
	margin-top:10px;
	width: 50px;
	height: 50px;
}
.m-hotlist li .r-side{
	position: relative;
	float: left;
	width: 130px;
	margin-left: 12px;
}
.m-hotlist li h4{
	margin-top: 10px;
	line-height: 14px;
	font-weight: normal;
	font-size:14px;
	color:#333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.m-hotlist li i{
	position: absolute;
	display: block;
	top:34px;
	width: 15px;
	height: 17px;
	background: url(../images/ui_sprite.png) no-repeat -45px -107px;
}
.m-hotlist li span{
	position: absolute;
	top:34px;
	left:17px;
	height: 17px;
	line-height: 17px;
	color:#999;
}

/* 页尾部分 */
.g-footer{
	margin-top:120px;
	height:262px;
	background-color:#2c3339;
}

.g-footer .ftlf{
	margin-left: 50px;
	padding-top: 90px;
	width: 395px;
}
.g-footer .ftlf .logo{
	width: 234px;
	height:22px;
	background: url(../images/ui_sprite.png) no-repeat -245px 0;
}
.g-footer .ftlf .text{
	margin-top: 25px;
	color:#aaa;
	font-size: 13px;
	line-height: 25px;
}
.g-footer .ftrf{
	margin-right: 203px;
	padding-top: 82px;
}
.g-footer a{
	font-size:15px;
}
.g-footer a,.g-footer h5{
	font-weight: normal;
	color:#aaa;
	line-height: 30px;
}
.g-footer .frend{
	width:212px
}
.g-footer .we{
	width:135px
}
.g-footer .we i{
	position: absolute;
	top:5px;
	margin:5px 0 0 11px;
	display: inline-block;
	width: 20px;
	height: 16px;
	background: url(../images/ui_sprite.png) no-repeat -63px -107px;
}